.container {
  width: 100%;
  background-image: url("../images/banne2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: rotateX(10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

.header {
  font-size: 5em;
  font-weight: bold;
  color: white;
}
