.navList {
  padding: 3.5rem 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoImg {
  transform: scale(0.9);
  margin-top: -2rem;
}

.navLink {
  margin: 0 1rem;
  font-size: 1.5em;
  text-decoration: none;
  color: #000;
  font-weight: bold;

  transition: 0.2s;
}

.navLink:hover {
  color: #223f7b;
}

.talkBtn {
  outline: none;
  border: none;
  display: inline-block;
  padding: 0.8rem 1.2rem;
  background-color: #223f7b;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  margin-left: 1rem;
  border: 1px solid transparent;
  transition: 0.2s;
}

.talkBtn:hover {
  outline: none;
  transform: scale(1.1);
  color: #223f7b;
  border: 1px solid #223f7b;
  background-color: #fff;
}

/* Large screens ----------- */
@media only screen and (max-width: 1275px) {
  .navList {
    padding: 2.5rem 0 0 0;
  }

  .navLink {
    font-size: 1em;
  }

  .logoImg {
    transform: scale(0.8);
    margin-top: -2rem;
  }

  .talkBtn {
    padding: 0.5rem 1rem;
  }
}

@media only screen and (max-width: 1024px) {
  .navList {
    padding: 2.5rem 0 0 0;
  }

  .navLink {
    font-size: 1em;
  }

  .logoImg {
    transform: scale(0.8);
    margin-top: -2rem;
  }

  .talkBtn {
    padding: 0.5rem 1rem;
  }
}

@media only screen and (max-width: 992px) {
  .navList {
    padding: 2.5rem 0 0 0;
  }

  .navLink {
    margin: 0 1rem;
    font-size: 1em;
  }

  .logoImg {
    display: none;
  }

  .talkBtn {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 768px) {
  .navList {
    padding: 2.5rem 0 0 0;
  }

  .navLink {
    margin: 0 1rem;
    font-size: 1.2em;
  }

  .logoImg {
    display: none;
  }

  .talkBtn {
    font-size: 1em;
  }
}

@media only screen and (max-width: 580px) {
  .navList {
    padding: 2.5rem 0 0 0;
  }

  .navLink {
    margin: 0 0.5rem;
    font-size: 0.8em;
  }

  .logoImg {
    display: none;
  }

  .talkBtn {
    font-size: 1em;
  }
}

@media only screen and (max-width: 500px) {
  .navList {
    padding: 2rem 0 0 0;
  }

  .navLink {
    margin: 0 0.3rem;
    font-size: 0.8em;
  }

  .logoImg {
    display: none;
  }

  .talkBtn {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 380px) {
  .navList {
    padding: 2rem 0 0 0;
  }

  .navLink {
    margin: 0 0.3rem;
    font-size: 0.8em;
  }

  .logoImg {
    display: none;
  }

  .talkBtn {
    display: none;
  }
}
